{loop type="currency" name="amount.currency" default_only=1}
    {$currencySymbol = $SYMBOL}
{/loop}

<div class="panel panel-default">
    <div class="panel-heading">
        {intl l="Customer credit account usage for this order" d='creditaccount.bo.default'}
    </div>

    <div class="panel-body table-responsive">
        <ul class="list-unstyled">
            {loop type="order" name="order-account-order" id=$order_id customer="*"}
                {loop type="credit_account" name="credit_account" customer=$CUSTOMER}
                    {loop type="credit_account_history" name="credit_account_history" credit_account=$ID order=$order_id}
                        {if $CREDIT_AMOUNT < 0}
                            {$class='class="text-danger"'}
                        {else}
                            {$class=''}
                        {/if}

                        <li>{intl l="New entry in customer credit account : <span %class>%amount</span>" class=$class amount={format_money number=$CREDIT_AMOUNT symbol=$currencySymbol}}</li>
                    {/loop}
                {/loop}
                {elseloop rel="order-account-order"}
                    <li>{intl l="No new entry in customer credit account for this order."}</li>
                {/elseloop}
            {/loop}
        </ul>
    </div>
</div>
