<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="credit_account" class="CreditAccount\Loop\CreditAccountLoop" />
        <loop name="credit_account_history" class="CreditAccount\Loop\CreditAccountHistoryLoop" />
        <loop name="credit_account_usage" class="CreditAccount\Loop\CreditInUseLoop" />
    </loops>

    <forms>
        <form name="credit_account_form" class="CreditAccount\Form\CreditAccountForm" />
    </forms>

    <hooks>
        <hook id="creditaccount.customer.hook" class="CreditAccount\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="account.bottom" type="front" method="onAccountBottom" />
        </hook>
        <hook id="creditaccount.order.hook" class="CreditAccount\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="order-edit.after-order-product-list" type="back" method="accountUsageInOrder" />
        </hook>

        <hook id="creditaccount.order_invoice.hook" class="CreditAccount\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="order-invoice.before-discount" type="front" method="orderInvoiceForm" />
        </hook>
    </hooks>

    <services>
        <service id="creditAccount_listener" class="CreditAccount\EventListeners\CreditEventListener" scope="request">
            <argument type="service" id="request"/>
            <argument type="service" id="thelia.translator"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
