<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>CreditAccount\CreditAccount</fullnamespace>
    <descriptive locale="en_US">
        <title>Credit account for customers</title>
        <description>This is a base module for module like sponsorship, assets management, etc</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Compte crédit client</title>
        <description>Compte crédit client servant de base pour la gestion de parrainage, des avois, etc</description>
    </descriptive>
    <version>0.5</version>
    <author>
        <name>Manuel Raynaud, Franck Allimant</name>
        <name>Open Studio, CQFDev</name>
        <email>manu@thelia.net, franck@cqfdev.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.1.0</thelia>
    <stability>beta</stability>
</module>
