{loop type="currency" name="amount.currency" default_only=1}
    {$currencySymbol = $SYMBOL}
{/loop}
{$usingCoupon = 0}
{$usingCredit = 0}
{loop type="credit_account_usage" name="credit-used" }
    {if $CREDIT_COUPONS_AMOUNT && $usingCoupon === 0}
        {$usingCoupon = 1}
        <tr>
            <td></td>
            <td colspan="2" class="discount">
                {intl l="You're using a coupon" d='creditaccount.fo.default'}
            </td>
            <td class="discount text-center">
                <a href="{url path="/order/clear-coupons"}">{intl l='Cancel' d='creditaccount.fo.default'}</a>
            </td>
        </tr>
    {elseif $CREDIT_ACCOUNT_AMOUNT && $usingCredit === 0}
        {$usingCredit = 1}
        <tr>
            <th colspan="2" class="discount">
                {intl l="You're using %amount from your credit account." amount={format_money number=$AMOUNT_USED symbol=$currencySymbol} d='creditaccount.fo.default'}
                <a class="btn btn-xs btn-warning" href="{url path="/creditAccount/cancel"}">{intl l='Cancel' d='creditaccount.fo.default'}</a>
            </th>
        </tr>
    {/if}
{/loop}
{elseloop rel="credit-used"}
{loop type="credit_account" name="credit_account" customer={customer attr="id"}}
{if $CREDIT_AMOUNT > 0}
    <tr>
        <td colspan="2" class="warning">{intl l="Warning: If you use your fidelity account credits, you won't be able to cumulate it with a discount coupon. Use the best solution." d='creditaccount.fo.default'}</td>
    </tr>
    <tr>
        <th colspan="2" class="discount">
            <a class="btn btn-success" href="{url path="/creditAccount/use"}">
                {intl l="Use my credit account (%amount available)" amount={format_money number=$CREDIT_AMOUNT symbol=$currencySymbol} d='creditaccount.fo.default'}
            </a>
        </th>
    </tr>
{/if}
{/loop}
{/elseloop}